name: Build Horizen Client

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    # 注意：这里不再需要 Make Gradle Wrapper executable 步骤

    - name: Build with Gradle
      run: gradle build # 直接使用 gradle 命令

    - name: Upload build artifacts
      if: success()
      uses: actions/upload-artifact@v4
      with:
        name: horizen-client-jar
        path: |
          ./build/libs/*.jar
