name: Build Horizen Client

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest # Ubuntu 是构建 Java 项目的常用选择

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'gradle' # 缓存 Gradle 依赖以加快后续构建速度

    - name: Make Gradle Wrapper executable
      run: chmod +x ./gradlew

    - name: Build with Gradle
      run: ./gradlew build

    - name: Upload build artifacts
      if: success()
      uses: actions/upload-artifact@v3
      with:
        name: horizen-client-jar
        path: |
          # 上传构建生成的 JAR 文件
          ./build/libs/*.jar
